*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(241, 241, 241);
}

.allHeader{
    margin-left: 100px;
}



#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color:#bb9d52;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 25px;
}

#myBtn:hover {
    background-color: rgb(0, 0, 0);
}


.leftbarmenu{
    width: 20%;
    height: 100vh;
    background-color: black;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    position: fixed;
    left: 0;
    overflow-y: auto;
}

.menu{
    margin-top: 30%;
    color: white;
    text-align: center;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

.menu_choose{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 5px 0;
    padding: 10px;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    padding: 7px 0;

}

.logo_img{
    width: 100%;
    margin-bottom: 20px;
}

.select{
    background-color: #bb9d52;
    padding: 7px 0;
    border-radius: 10px;
}

.menu_choose:hover{
    background-color: #bb9d52;
    border-radius: 10px;
}





.slider_area{
    height: 80vh;
    background-image: url(../uploads/barber_all.jpg);
    background-position: 114px 0px;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 90px;
}

.inner {
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
    padding: 50px;  
}

.slider_area:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.658);
    z-index: 2;
}

.slider_body>h1{
    font-size: 70px;
    margin-top: 100px;
}

.slider_h2{
    font-size: 50px;
    margin-top: 100px;
    margin-left: 190px;
    font-weight: 900;
}

.content{
    display: flex;
    justify-content: center;
    text-align: center;
}


.content>h2 {
    color: #fff;
    font-size: 5em;
    position: absolute;
    transform: translate(40%, 50%);
    margin-right: 220px;
  }
  
  .content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #bb9d52;
  }
  
  .content h2:nth-child(2) {
    color: #bb9d52;
    animation: animate 4s ease-in-out infinite;
  }
  
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }

.slider_text{
    margin-top: 50px;
    margin-left: 190px;
    font-weight: 100;
    font-size: 17px;
    width: 55%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.header_link1{
    color: white;
    text-decoration: none;
}

.header_link2{
    color: #bb9d52;
    text-decoration: none;
    display: inline;
}

.mustache{
    display: block;
    margin-left: 180px;
    margin-top: 40px;
}


@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}



/* -------------------Main----------------- */

.all_content{
    padding: 50px 10px 30px 320px;
}


.appointment{
    text-align: center;
}

.appointment>h3{
    font-size: 17px;
    margin: 20px 0;
    font-weight: 200;
}

.appointment>h2{
    margin: 20px 0 30px 0;
    font-size: 40px;
}

.hr{
    width: 100px;
    margin: 20px auto 30px;
    padding: 1px;
    background-color: #111;
    text-align: center;
}

.appointment>h4{
    font-size: 17px;
    color: gray;
    width: 60%;
    display: inline-block;
    justify-content: center;
    margin-bottom: 50px;
}


.center{
    display: flex;
    width: 100%;
}

.oppening_time{
    line-height: 60px;
    margin: 30px;
    width: 50%;
}

.oppening_time h2{
    color: #bb9d52;
    font-size: 50px;
}

.oppening_time h3{
    font-size: 25px;

}

.appontment_time{
    background-color: rgb(0, 0, 0);
    padding: 20px; 
    width: 50%;
    height: 50%;
    margin: 30px;
    border-radius: 20px;
}

.appointment_form{
    text-align: center;
    position:relative;
}

.appointment_form::after{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
    background: url("../img/ajax-loader.gif") center / 50px no-repeat;
}

.appointment_form._sending::after{
    opacity: 1;
    visibility: visible;
}

.app_input{
    width: 45%;
    height: 40px;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    outline: none;
}
.app_input:focus{
    box-shadow: 0 0 15px rgb(199, 199, 199);
    border: none;
}


.textarea{
    width: 92.9%;
    height: 200px;
    margin: 5px;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: none;
}

.textarea:focus{
    box-shadow: 0 0 15px rgb(199, 199, 199);
}

.submit_btn{
    width: 50%;
    height: 50px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 25px;
    outline: none;
    border: none;
    margin: 20px 10px 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    
}

.submit_btn:hover{
    background-color: #bb9d52;
    color: white;
}








/* -------------------Footer----------------- */


footer{
    padding: 50px 0 0 300px;
}

.foot_box{
    width: 100%;
    height: 100px;
    background-color: rgb(31, 31, 31);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot_box>h2{
    font-size: 15px;
    letter-spacing: 1px;
}






